<div class="container">
  <h1>Este es mi primer proyecto con angular</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>
  <h2>Nuevo for</h2>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ task }}
      </li>
    }
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p> la suma de 3 + 3 es {{ 3 + 3}}</p>
  <p> Hola soy {{ name() }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="person().avatar" alt="">
  <input type="number" [value]="person().age">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person().name }}</p>
  <hr/>
  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">double me</button>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <p>(keydown shift+t)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">
  <hr/>
  <ul>
    <p>total: {{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ i }} {{ task }}
      </li>
    }
  </ul>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
      <li>{{ i }} {{ task }}</li>
      } @empty {
      <li><strong>la lista esta vacia</strong></li>
    }
  </ul>
  <h1>signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{ name() }}</p>
  <hr/>
  @if (name() === 'Jhon') {
    <div>
      Soy {{ name() }}
    </div>
  }
  <div>
    @if (name() === 'Jhon') {
      Soy {{ name() }}
    }
  </div>
  <input type="number" [value]="person().age" (change)="changeAge($event)">
  @if (person().name == 'Jhon' && person().age > 18) {
    <div>
      Soy {{ person().name }} y tengo {{ person().age }}
    </div>
  } @else {
    Soy {{ person().name }} y tengo menor de 18
  }
  <h2>Nuevo if</h2>
  <div>
    @if (name() === 'Jhon' && person().age > 18) {
      Soy {{ person().name }} y tengo menor de 18
    }
    @else {
    Soy {{ person().name }} y soy menor de 18
  }
</div>
<hr/>
<input type="text" [value]="person().name" (change)="changeName($event)">
<div>
  @switch (person().name) {
    @case ('Jhon') {
      <p>Yo soy Jhon</p>
    }
    @case ('Juan') {
      <p>Yo soy Juan</p>
    }
    @case ('Mario') {
      <p>Yo soy Mario</p>
    }
    @case ('Ana') {
      <p>Yo soy Ana</p>
    }
    @default {
      <p>Yo no soy conocido</p>
    }
  }
</div>
<hr/>
<h2>New Switch</h2>
<div>
  @switch (person().name) {
    @case ('Jhon') {
      <p>yo soy Jhon</p>
    }
    @case ('Juan') {
      <p>yo soy Juan</p>
    }
    @case ('Mario') {
      <p>yo soy Mario</p>
    }
    @case ('Ana') {
      <p>yo soy Ana</p>
    }
    @default {
      <p>yo no soy nadie</p>
    }
  }
</div>
<input type="color" [formControl]="colorCtrl">
<p>color: {{ colorCtrl.value }}</p>
<svg>
  <g>
    <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
  </g>
</svg>
<hr/>
<input type="number" [formControl]="widthCtrl">
<span class="box" [style.width.px]="widthCtrl.value"></span>
<hr/>
<p>
  <input type="text" [formControl]="nameCtrl"><br/>
  <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">
    Nombre invalido
  </span>
</p>
<p>
  <input type="text">
</p>
</div>